<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
</head>

<body>

<!--<header th:replace="layout :: site-header" />-->

<h1>Login in the Blog</h1>

<form action="#" method="post" th:action="@{/matches/save}" th:object="${match}">
    <div><label></label></div>
    <select th:field="*{homeTeam}">
        <option th:each="team:${teams}" th:value="${team.id}" th:text="${team.name}"></option>
    </select>
    <select th:field="*{guestTeam}">
        <option th:each="team:${teams}" th:value="${team.id}" th:text="${team.name}"></option>
    </select>
    <div><input type="submit" value="Create"/></div>
</form>

<!--<footer th:replace="layout :: site-footer" />-->

</body>

</html>