.select2-selection--single {
    height: auto !important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    position: relative;
    padding: 0.65rem 1rem;
    line-height: 1.25;
}

.select2-container--default .select2-selection--single .select2-selection__arrow,
.select2-container--default .select2-selection--multiple .select2-selection__arrow {
    font-family: "LineAwesome";
    text-decoration: inherit;
    text-rendering: optimizeLegibility;
    text-transform: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    border: 0;
    top: 50%;
    position: absolute;
    margin-top: 0;
    margin-left: 0;
    font-size: 0.85rem;
    left: auto;
    display: inline-block;
    width: 1.9rem;
}
.fc-content a, .fc-content .m-badge {
    outline: none;
}
.fc-description a {
    margin-top: 0.25rem !important;
    display: block !important;
    outline: none !important;
}

.login {
    background-color: #DADADA;
}

.login-btn {
    background-color: #3BACD3;
    color: #fff !important;
}
.form-control { font-family: "PT Sans Narrow" !important;}
.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item .m-menu__submenu .m-menu__item.m-menu__item--active>.m-menu__heading .m-menu__link-text, .m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item .m-menu__submenu .m-menu__item.m-menu__item--active>.m-menu__link .m-menu__link-text,
.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item.m-menu__item--active>.m-menu__heading .m-menu__link-text, .m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item.m-menu__item--active>.m-menu__link .m-menu__link-text,
.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item.m-menu__item--active>.m-menu__heading .m-menu__link-icon, .m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item.m-menu__item--active>.m-menu__link .m-menu__link-icon
{color:#bdc3d4 ;}
.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item .m-menu__submenu .m-menu__item.m-menu__item--active>.m-menu__heading .m-menu__link-bullet.m-menu__link-bullet--dot>span, .m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item .m-menu__submenu .m-menu__item.m-menu__item--active>.m-menu__link .m-menu__link-bullet.m-menu__link-bullet--dot>span {
    background-color:#bdc3d4  ;
}
[class^='select2'] {
    border-radius: 0px !important;
}
.fc-unthemed .fc-toolbar .fc-button.fc-state-active, .fc-unthemed .fc-toolbar .fc-button:active, .fc-unthemed .fc-toolbar .fc-button:focus{
    background: #36a3f7;
}
.bootstrap-select.btn-group>.dropdown-toggle.btn-default, .bootstrap-select.btn-group>.dropdown-toggle.btn-secondary {
    border-radius: 0 !important;
}
.fc-content {
    padding-top: .05rem !important;
}
.fc-unthemed .fc-description {
     font-size: .75rem;
     margin-top: .1rem;
     font-weight: 300;
 }
