<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <title>НМФЛ</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
</head>
<body>
<header class="m-grid__item    m-header " data-minimize-offset="200" data-minimize-mobile-offset="200"
        th:fragment="header">
    <div class="m-container m-container--fluid m-container--full-height">
        <div class="m-stack m-stack--ver m-stack--desktop">
            <!-- BEGIN: Brand -->
            <div class="m-stack__item m-brand  m-brand--skin-dark ">
                <div class="m-stack m-stack--ver m-stack--general">
                    <div class="m-stack__item m-stack__item--middle m-brand__logo">
                        <a th:href="@{/}" class="m-brand__logo-wrapper">
                            <img alt="" src="/../../public/img/last-logo.png" th:src="@{/img/last-logo.png}"/>
                        </a>
                    </div>
                    <div class="m-stack__item m-stack__item--middle m-brand__tools">
                        <!-- BEGIN: Left Aside Minimize Toggle -->
                        <a href="javascript:;" id="m_aside_left_minimize_toggle" class="m-brand__icon m-brand__toggler m-brand__toggler--left m--visible-desktop-inline-block
					 ">
                            <span></span>
                        </a>
                        <!-- END -->
                        <!-- BEGIN: Responsive Aside Left Menu Toggler -->
                        <a href="javascript:;" id="m_aside_left_offcanvas_toggle"
                           class="m-brand__icon m-brand__toggler m-brand__toggler--left m--visible-tablet-and-mobile-inline-block">
                            <span></span>
                        </a>
                        <!-- END -->
                        <!-- BEGIN: Topbar Toggler -->
                        <a id="m_aside_header_topbar_mobile_toggle" href="javascript:;"
                           class="m-brand__icon m--visible-tablet-and-mobile-inline-block">
                            <i class="flaticon-more"></i>
                        </a>
                        <!-- BEGIN: Topbar Toggler -->
                    </div>
                </div>
            </div>
            <!-- END: Brand -->
            <div class="m-stack__item m-stack__item--fluid m-header-head" id="m_header_nav">
                <!-- BEGIN: Horizontal Menu -->
                <button class="m-aside-header-menu-mobile-close  m-aside-header-menu-mobile-close--skin-dark "
                        id="m_aside_header_menu_mobile_close_btn">
                    <i class="la la-close"></i>
                </button>
                <!-- END: Horizontal Menu -->                                <!-- BEGIN: Topbar -->
                <div id="m_header_topbar" class="m-topbar  m-stack m-stack--ver m-stack--general m-stack--fluid">
                    <div class="m-stack__item m-topbar__nav-wrapper">
                        <ul class="m-topbar__nav m-nav m-nav--inline">
                            <li class="m-nav__item m-topbar__notifications m-topbar__notifications--img m-dropdown m-dropdown--large m-dropdown--header-bg-fill m-dropdown--arrow m-dropdown--align-center 	m-dropdown--mobile-full-width"
                                data-dropdown-toggle="click" data-dropdown-persistent="true">
                                <a href="#" class="m-nav__link m-dropdown__toggle" id="m_topbar_notification_icon">
                                    <span class="m-nav__link-badge m-badge m-badge--dot m-badge--dot-small m-badge--danger"
                                          th:if="${!notifications.isEmpty() or !allMessages.isEmpty()}"></span>
                                    <!--<span class="m-nav__link-icon">-->
                                    <i class="flaticon-music-2 notification-icon"></i>
                                    <!--</span>-->
                                </a>
                                <div class="m-dropdown__wrapper">
                                    <span class="m-dropdown__arrow m-dropdown__arrow--center"></span>
                                    <div class="m-dropdown__inner">
                                        <div class="m-dropdown__header m--align-center"
                                             th:style="'background: url('+@{/img/notification_bg.jpg} + '); background-size: cover;'">
														<span class="m-dropdown__header-title">
                                                            Уведомления
														</span>
                                            <span class="m-dropdown__header-subtitle">

														</span>
                                        </div>
                                        <div class="m-dropdown__body">
                                            <div class="m-dropdown__content">
                                                <ul class="nav nav-tabs m-tabs m-tabs-line m-tabs-line--brand"
                                                    role="tablist">
                                                    <li class="nav-item m-tabs__item">
                                                        <a class="nav-link m-tabs__link active" data-toggle="tab"
                                                           href="#topbar_notifications_notifications" role="tab">
                                                            Сессии
                                                        </a>
                                                    </li>
                                                    <li sec:authorize="hasAuthority('Менеджер')"class="nav-item m-tabs__item">
                                                        <a class="nav-link m-tabs__link" data-toggle="tab"
                                                           href="#topbar_notifications_events" role="tab">
                                                            Сообщения
                                                        </a>
                                                    </li>
                                                    <!--<li class="nav-item m-tabs__item">-->
                                                    <!--<a class="nav-link m-tabs__link" data-toggle="tab" href="#topbar_notifications_logs" role="tab">-->
                                                    <!--Logs-->
                                                    <!--</a>-->
                                                    <!--</li>-->
                                                </ul>
                                                <div class="tab-content">
                                                    <div class="tab-pane active" id="topbar_notifications_notifications"
                                                         role="tabpanel">
                                                        <div class="m-scrollable" data-scrollable="true"
                                                             data-max-height="250" data-mobile-max-height="200">
                                                            <div class="m-list-timeline m-list-timeline--skin-light">
                                                                <div class="m-stack__item m-stack__item--center m-stack__item--middle"
                                                                     th:if="${notifications.isEmpty()}">
                                                                    <span>Сессий не найдено</span>
                                                                </div>
                                                                <div class="m-list-timeline__items">
                                                                    <div class="m-list-timeline__item"
                                                                         th:classappend="${n.actual} ? '' : 'm-list-timeline__item--read'"
                                                                         th:each="n:${notifications}">
                                                                        <span class="m-list-timeline__badge"></span>
                                                                        <span class="m-list-timeline__text"
                                                                              th:if="${n.actual}" th:inline="text">
																						Разбор для лиги [[${n.league}]] уже идет!
                                                                Окочание: [[${#temporals.format(n.endTime, 'dd.MM HH:mm')}]]
																					</span>
                                                                        <span class="m-list-timeline__text "
                                                                              th:inline="text" th:if="${!n.actual}">
																						Разбор для лиги [[${n.league}]] начнется в [[${#temporals.format(n.startTime, 'dd.MM HH:mm')}]]
																					</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div sec:authorize="hasAuthority('Менеджер')" class="tab-pane" id="topbar_notifications_events"
                                                         role="tabpanel">
                                                        <div class="m-scrollable" data-scrollable="true"
                                                             data-max-height="250" data-mobile-max-height="200">
                                                            <div class="m-list-timeline m-list-timeline--skin-light">
                                                                <div class="m-stack__item m-stack__item--center m-stack__item--middle"
                                                                     th:if="${allMessages.isEmpty()}">
                                                                    <span>Актуальных сообщений не найдено</span>
                                                                </div>
                                                                <div class="m-list-timeline__items">
                                                                    <div class="m-list-timeline__item"
                                                                         th:each="m:${allMessages}">
                                                                        <span class="m-list-timeline__badge m-list-timeline__badge--state-success">
                                                                        </span>
                                                                        <span class="m-list-timeline__text" th:inline="text">
                                                                            <a th:href="@{/messages}">Новое сообщение для матча <b>[[${m.match.getHomeAndGuest()}]]</b></a>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--<div class="tab-pane" id="topbar_notifications_logs" role="tabpanel">-->
                                                    <!--<div class="m-stack m-stack&#45;&#45;ver m-stack&#45;&#45;general" style="min-height: 180px;">-->
                                                    <!--<div class="m-stack__item m-stack__item&#45;&#45;center m-stack__item&#45;&#45;middle">-->
                                                    <!--<span class="">-->
                                                    <!--All caught up!-->
                                                    <!--<br>-->
                                                    <!--No new logs.-->
                                                    <!--</span>-->
                                                    <!--</div>-->
                                                    <!--</div>-->
                                                    <!--</div>-->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="m-nav__item m-topbar__user-profile m-topbar__user-profile--img  m-dropdown m-dropdown--medium m-dropdown--arrow m-dropdown--header-bg-fill m-dropdown--align-right m-dropdown--mobile-full-width m-dropdown--skin-light"
                                data-dropdown-toggle="click">
                                <a href="#" class="m-nav__link m-dropdown__toggle">
												<span class="m-topbar__userpic">
													<img src="/../../public/img/logo-small.jpg"
                                                         th:src="@{/img/logo-small.jpg}"
                                                         class="m--img-rounded m--marginless m--img-centered" alt=""/>
												</span>
                                    <span class="m-topbar__username m--hide">
													Nick
												</span>
                                </a>
                                <div class="m-dropdown__wrapper">
                                    <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                                    <div class="m-dropdown__inner">
                                        <div class="m-dropdown__header m--align-center"
                                             style="background: url(assets/app/media/img/misc/user_profile_bg.jpg); background-size: cover;">
                                            <div class="m-card-user m-card-user--skin-dark">
                                                <div class="m-card-user__pic">
                                                    <img src="/../../public/img/logo-small.jpg"
                                                         th:src="@{/img/logo-small.jpg}"
                                                         class="m--img-rounded m--marginless" alt=""/>
                                                </div>
                                                <div class="m-card-user__details">
																<span class="m-card-user__name m--font-weight-500"
                                                                      sec:authentication="principal.fullName">
																	Mark
																</span>
                                                    <a href="" sec:authentication="name"
                                                       class="m-card-user__email m--font-weight-300 m-link">
                                                        mark.andre@gmail.com
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="m-dropdown__body">
                                            <div class="m-dropdown__content">
                                                <ul class="m-nav m-nav--skin-light">
                                                    <li class="m-nav__section m--hide">
																	<span class="m-nav__section-text">
																		Section
																	</span>
                                                    </li>
                                                    <li class="m-nav__item">
                                                        <a th:href="@{'/profile/'+${#authentication.principal.id}}"
                                                           class="m-nav__link">
                                                            <i class="m-nav__link-icon flaticon-profile-1"></i>
                                                            <span class="m-nav__link-title">
																			<span class="m-nav__link-wrap">
																				<span class="m-nav__link-text">
																					Мой профиль
																				</span>
																			</span>
																		</span>
                                                        </a>
                                                    </li>
                                                    <li class="m-nav__separator m-nav__separator--fit"></li>
                                                    <li class="m-nav__item">
                                                        <form class="logout-form" style="display: none;" method="post"
                                                              th:action="@{/logout}"></form>
                                                        <a onclick="$(this).closest('.m-nav__item').find('.logout-form').submit()"
                                                           class="btn m-btn--pill btn-secondary m-btn m-btn--custom m-btn--label-brand m-btn--bolder">
                                                            Выйти
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- END: Topbar -->
            </div>
        </div>
    </div>

</header>
</body>
</html>