<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
</head>
<body>
<!-- BEGIN: Left Aside -->

<div id="m_aside_left" class="m-grid__item	m-aside-left  m-aside-left--skin-dark " th:fragment="left_aside">
    <!-- BEGIN: Aside Menu -->
    <div
            id="m_ver_menu"
            class="m-aside-menu  m-aside-menu--skin-dark m-aside-menu--submenu-skin-dark "
            data-menu-vertical="true"
            data-menu-scrollable="false" data-menu-dropdown-timeout="500"
    >
        <ul class="m-menu__nav  m-menu__nav--dropdown-submenu-arrow ">
            <li class="m-menu__item" aria-haspopup="true"
                th:classappend="${#httpServletRequest.requestURI.equals('/')} ? 'm-menu__item--active' : ''">
                <a th:href="@{/}" class="m-menu__link ">
                    <i class="m-menu__link-icon flaticon-line-graph"></i>
                    <span class="m-menu__link-title">
										<span class="m-menu__link-wrap">
											<span class="m-menu__link-text">
												Главная
											</span>
										</span>
									</span>
                </a>
            </li>
            <li class="m-menu__section">
                <h4 class="m-menu__section-text">
                    Меню
                </h4>
                <i class="m-menu__section-icon flaticon-more-v3"></i>
            </li>
            <li sec:authorize="hasAuthority('Администратор')" class="m-menu__item  m-menu__item--submenu "
                aria-haspopup="true" data-menu-submenu-toggle="hover"
                th:attrappend="class=${T(app.helpers.UrlHelper).isContained(#httpServletRequest.requestURI) ? 'm-menu__item--open' : ''}"
                th:attrprepend="class=${T(app.helpers.UrlHelper).isContained(#httpServletRequest.requestURI) ? 'm-menu__item--expanded ' : ''}">
                <a href="#" class="m-menu__link m-menu__toggle">
                    <i class="m-menu__link-icon flaticon-share"></i>
                    <span class="m-menu__link-text">
										Управление
									</span>
                    <i class="m-menu__ver-arrow la la-angle-right"></i>
                </a>
                <div class="m-menu__submenu ">
                    <span class="m-menu__arrow"></span>
                    <ul class="m-menu__subnav">
                        <li class="m-menu__item  m-menu__item--parent" aria-haspopup="true">
											<span class="m-menu__link">
												<span class="m-menu__link-text">
													Управление
												</span>
											</span>
                        </li>
                        <li class="m-menu__item " aria-haspopup="true"
                            th:classappend="${#httpServletRequest.requestURI.contains('/stadiums')} ? 'm-menu__item--active' : ''">
                            <a th:href="@{/stadiums}" class="m-menu__link ">
                                <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                    <span></span>
                                </i>
                                <span class="m-menu__link-text">
													Стадионы
												</span>
                            </a>
                        </li>
                        <li class="m-menu__item " aria-haspopup="true"
                            th:classappend="${#httpServletRequest.requestURI.contains('/leagues')} ? 'm-menu__item--active' : ''">
                            <a th:href="@{/leagues}" class="m-menu__link ">
                                <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                    <span></span>
                                </i>
                                <span class="m-menu__link-text">
													Лиги и команды
												</span>
                            </a>
                        </li>
                        <li class="m-menu__item " aria-haspopup="true"
                            th:classappend="${#httpServletRequest.requestURI.equals('/matches')} ? 'm-menu__item--active' : ''">
                            <a th:href="@{/matches}" class="m-menu__link ">
                                <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                    <span></span>
                                </i>
                                <span class="m-menu__link-text">
													Матчи
												</span>
                            </a>
                        </li>
                        <li class="m-menu__item " aria-haspopup="true"
                            th:classappend="${#httpServletRequest.requestURI.equals('/tours')} ? 'm-menu__item--active' : ''">
                            <a th:href="@{/tours}" class="m-menu__link ">
                                <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                    <span></span>
                                </i>
                                <span class="m-menu__link-text">
													Туры
												</span>
                            </a>
                        </li>
                        <li class="m-menu__item " aria-haspopup="true"
                            th:classappend="${#httpServletRequest.requestURI.equals('/sessions')} ? 'm-menu__item--active' : ''">
                            <a th:href="@{/sessions}" class="m-menu__link ">
                                <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                    <span></span>
                                </i>
                                <span class="m-menu__link-text">
													Сессии разбора
												</span>
                            </a>
                        </li>
                        <li class="m-menu__item " aria-haspopup="true"
                            th:classappend="${#httpServletRequest.requestURI.equals('/slot-types')} ? 'm-menu__item--active' : ''">
                            <a th:href="@{/slot-types}" class="m-menu__link ">
                                <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                    <span></span>
                                </i>
                                <span class="m-menu__link-text">
													Типы слотов
												</span>
                            </a>
                        </li>
                        <li class="m-menu__item " aria-haspopup="true"
                            th:classappend="${#httpServletRequest.requestURI.equals('/users')} ? 'm-menu__item--active' : ''">
                            <a th:href="@{/users}" class="m-menu__link ">
                                <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                    <span></span>
                                </i>
                                <span class="m-menu__link-text">
													Пользователи
												</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true" data-menu-submenu-toggle="hover"
                th:classappend="${#httpServletRequest.requestURI.equals('/all-stadiums')} ? 'm-menu__item--active' : ''">
                <a th:href="@{/all-stadiums}" class="m-menu__link m-menu__toggle">
                    <i class="m-menu__link-icon flaticon-map-location"></i>
                    <span class="m-menu__link-text">
                        Стадионы
                    </span>
                </a>
            </li>
            <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true" data-menu-submenu-toggle="hover"
                th:classappend="${#httpServletRequest.requestURI.equals('/all-matches')} ? 'm-menu__item--active' : ''">
                <a th:href="@{/all-matches}" class="m-menu__link m-menu__toggle">
                    <i class="m-menu__link-icon flaticon-calendar"></i>
                    <span class="m-menu__link-text">
                        Календарь матчей
                    </span>
                </a>
            </li>
        </ul>
    </div>
    <!-- END: Aside Menu -->
</div>
<!-- END: Left Aside -->
</body>
</html>