<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:replace="fragments/head::head"></head>

<body class="m-page--fluid m--skin- m-content--skin-light2 m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default">
<div class="m-grid m-grid--hor m-grid--root m-page">
    <header th:replace="fragments/header :: header"></header>

    <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">
        <button class="m-aside-left-close  m-aside-left-close--skin-dark " id="m_aside_left_close_btn">
            <i class="la la-close"></i>
        </button>
        <div th:replace="fragments/left_aside :: left_aside"></div>
        <div class="m-grid__item m-grid__item--fluid m-wrapper">
            <div class="m-content">

                <div class="row">

                    <div th:each="stadiumSlots:${stadiums}" class="col-xl-4">
                        <div class="m-portlet m-portlet--mobile">
                            <div class="m-portlet__head">
                                <div class="m-portlet__head-caption">
                                    <div class="m-portlet__head-title">
                                        <h3 class="m-portlet__head-text" th:text="${stadiumSlots.stadium.name}">
                                            Название стадиона
                                        </h3>
                                    </div>
                                </div>
                            </div>
                            <div class="m-portlet__body">
                                <!--begin: Datatable -->
                                <div class="m_datatable m-datatable m-datatable--default m-datatable--loaded">


                                    <table class="m-datatable__table" style="display: block; min-height: 100px; overflow-x: auto;">
                                        <thead class="m-datatable__head">
                                        <tr class="m-datatable__row">
                                            <th data-field="date" class="m-datatable__cell m-datatable__cell--sort"><span style="width: 62px;">Дата</span></th>
                                            <th data-field="start" class="m-datatable__cell m-datatable__cell--sort"><span style="width: 44px;">Начало</span></th>
                                            <th data-field="end" class="m-datatable__cell m-datatable__cell--sort"><span style="width: 40px;">Конец</span></th>
                                            <th data-field="action" class="m-datatable__cell m-datatable__cell--sort"><span style="width: 60px;">Действия</span></th>
                                        </tr>
                                        </thead>
                                        <tbody th:each="slotDTO:${stadiumSlots.slotDTO}" class="m-datatable__body" style="">
                                            <tr class="m-datatable__row">
                                                <td data-field="date" class="m-datatable__cell"><span th:text="${slotDTO.slot.eventDate}" style="width: 66px;">Дата</span></td>
                                                <td data-field="start" class="m-datatable__cell"><span th:text="${#dates.format(slotDTO.slot.startTime, 'HH:mm')}" style="width: 44px;">Начало</span></td>
                                                <td data-field="end" class="m-datatable__cell"><span th:text="${#dates.format(slotDTO.slot.endTime, 'HH:mm')}" style="width: 41px;">Конец</span></td>
                                                <td data-field="action" class="m-datatable__cell"><span th:utext="${slotDTO.url}" style="width: 60px;"></span></td>
                                            </tr>
                                            <tr th:if="${slotDTO.slot.match != null}" class="m-datatable__row">
                                                <td class="m-datatable__cell"><b>Матч: </b> [[${slotDTO.slot.match.getHomeAndGuest()}]]<hr/></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer th:replace="fragments/footer :: footer"></footer>
</div>

<script src="/../../public/js/vendors.bundle.js" th:src="@{/js/vendors.bundle.js}" type="text/javascript"></script>
<script src="/../../public/js/scripts.bundle.js" th:src="@{/js/scripts.bundle.js}" type="text/javascript"></script>
<script sec:authorize="hasAuthority('Менеджер')" src="/../../public/js/datatables/html-table.js"
        th:src="@{/js/datatables/html-table.js}" type="text/javascript"></script>
</body>
</html>