<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head></head>
<body>
<h3>Запрос восстановление пароля</h3>
<div>
    <p>Вами было запрошено восстановление пароля. Для сброса старого пароля и создания нового необходимо</p>
    <ol>
    <li>Перейти по указанной ссылке</li>
    <li>В открывшейся форме указать новый пароль для входа в систему</li>
    </ol>
    <p>Ссылка для сброса пароля: <a th:href="${url}" th:text="${url}">Перейти</a></p>
    <p>С уважением, команда НМФЛ.</p>
</div>
</body>
</html>